#text_box{
    width: 48px;
    height: 25px;
    display: inline-block;
    line-height: 25px;
    text-align: center;
    border: 0;
    padding: 0;
}
#min {
    height: 25px;
    width: 25px;
    border: 1px solid #66402B;
    background: none;
    font-size: 15px;
    font-weight: bold;
}
#add {
    height: 25px;
    width: 25px;
    border: none;
    background-color: rgb(102,64,43);
    font-weight: bold;
    color: white;
    font-size: 15px;
}
.place-order-bottom {
    height: 44px;
    overflow: hidden;
    background: #fff;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 1000000;
    box-shadow: 0px -2px 4px 0px rgba(0, 0, 0, 0.1);
}
.place-order-bottom .place-order-but {
    display: block;
    float: right;
    height: 44px;
    width: 96px;
    line-height: 44px;
    text-align: center;
    color: #fff;
    background: #442818;
    font-size: 14px;
    border: none;
}
.left_detail{
    margin-bottom: 100px;
}
.place-order-bottom .pay-money {
    float: right;
    margin-right: 12px;
}
/*.place-order-bottom .pay-money > div {
    float: left;
    height: 44px;
    text-align: right;
}*/
.place-order-bottom .pay-money > div span:first-child {
    margin-top: 5px;
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
    line-height: 16px;
}
.place-order-bottom .pay-money > div span:last-child {
    display: block;
    color: #707070;
    font-size: 10px;
    line-height: 16px;
}
.place-order-bottom .pay-money .pay-money-plus {
    line-height: 24px;
    margin: 0 8px;
    font-size: 16px;
}
.place-order-bottom .pay-money > div {
    float: left;
    height: 44px;
    text-align: right;
}