*{
	margin: 0;
	padding: 0;
	-webkit-tap-highlight-color:transparent;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
a{
	color: #333;
	text-decoration: none;
}
a:hover{
	text-decoration: none;
}
input{
	border:none;
	outline: none;
	-webkit-appearance:none;
}
img{
	display: block;
}
ul,ol{
	margin:0;
	padding:0;
	list-style: none;
}
.find-box{
	max-width: 640px;
	min-width: 320px;
	margin: 0 auto 50px auto;
	width: 100%;
	overflow: hidden;
	background-color: #fff;
}
.find_word_box{
	border-bottom: 1px solid #fbeeef;
	height: 44px;
	position: relative;
}
.find_word{
	text-align: center;
	font-size: 16px;
	line-height: 44px;
	color: #8e6a55;
}
.input_box{
	width: 90%;
	border:1px solid #eee;
	margin: 0 auto;
	margin-top: 15px;
}
.find_input{
	height: 30px;
	padding-left: 10px;
}
.next-walk{
	background: none repeat scroll 0 0 #684029;
	border: 1px solid #684029;
	color: #fff;
	display: block;
	font-size: 16px;
	height: 39px;
	line-height: 39px;
	text-align: center;
	width: 90%;
	margin: auto;
	margin-top: 40px;
}